body {
  background-image: url("https://www.yogyagroup.com/storage/article/62958e0a0352c_1653968394.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.navbar {
  opacity: 0.8;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-top: 8%;
  margin-bottom: 8%;
}

.carousel {
  max-width: 60%;
  margin: auto;
}

.carousel-caption {
  background-color: hsl(0, 0%, 0%, 0.5);
  border-radius: 25px;
  padding: 10px;
}

footer {
  opacity: 0.8;
}

.controls {
  background-color: hsl(0, 0%, 0%, 0.7);
  padding: 5px;
  max-width: 640px;
  margin: auto;
  border-radius: 20px;
}

form {
  opacity: 0.7;
  border-radius: 10px;
}

hr {
  margin: auto;
  max-width: 500px;
}
